
/SuperSoup/Client/Debug/CL.read.1.tlog
/SuperSoup/Client/Debug/CL.write.1.tlog
/SuperSoup/Client/Debug/Client.exe.embed.manifest
/SuperSoup/Client/Debug/Client.exe.embed.manifest.res
/SuperSoup/Client/Debug/Client.exe.intermediate.manifest
/SuperSoup/Client/Debug/Client.lastbuildstate
/SuperSoup/Client/Debug/Client.log
/SuperSoup/Client/Debug/Client_manifest.rc
/SuperSoup/Client/Debug/cl.command.1.tlog
/SuperSoup/Client/Debug/link-cvtres.read.1.tlog
/SuperSoup/Client/Debug/link-cvtres.write.1.tlog
/SuperSoup/Client/Debug/link.3860-cvtres.read.1.tlog
/SuperSoup/Client/Debug/link.3860-cvtres.write.1.tlog
/SuperSoup/Client/Debug/link.3860.read.1.tlog
/SuperSoup/Client/Debug/link.3860.write.1.tlog
/SuperSoup/Client/Debug/link.command.1.tlog
/SuperSoup/Client/Debug/link.read.1.tlog
/SuperSoup/Client/Debug/link.write.1.tlog
/SuperSoup/Client/Debug/mainClient.obj
/SuperSoup/Client/Debug/mt.command.1.tlog
/SuperSoup/Client/Debug/mt.read.1.tlog
/SuperSoup/Client/Debug/mt.write.1.tlog
/SuperSoup/Client/Debug/rc.command.1.tlog
/SuperSoup/Client/Debug/rc.read.1.tlog
/SuperSoup/Client/Debug/rc.write.1.tlog
/SuperSoup/Client/Debug/vc100.idb
/SuperSoup/Client/Debug/vc100.pdb
/SuperSoup/Client/Release/CL.read.1.tlog
/SuperSoup/Client/Release/CL.write.1.tlog
/SuperSoup/Client/Release/Client.exe.intermediate.manifest
/SuperSoup/Client/Release/Client.lastbuildstate
/SuperSoup/Client/Release/Client.log
/SuperSoup/Client/Release/cl.command.1.tlog
/SuperSoup/Client/Release/link.command.1.tlog
/SuperSoup/Client/Release/link.read.1.tlog
/SuperSoup/Client/Release/link.write.1.tlog
/SuperSoup/Client/Release/mainClient.obj
/SuperSoup/Client/Release/mt.command.1.tlog
/SuperSoup/Client/Release/mt.read.1.tlog
/SuperSoup/Client/Release/mt.write.1.tlog
/SuperSoup/Client/Release/vc100.pdb
/SuperSoup/Debug/Client.exe
/SuperSoup/Debug/Client.ilk
/SuperSoup/Debug/Client.pdb
/SuperSoup/Debug/Server.exe
/SuperSoup/Debug/Server.ilk
/SuperSoup/Debug/Server.pdb
/SuperSoup/Release/Client.exe
/SuperSoup/Release/Client.pdb
/SuperSoup/Release/Server.exe
/SuperSoup/Release/Server.pdb
/SuperSoup/Server/Debug/CL.read.1.tlog
/SuperSoup/Server/Debug/CL.write.1.tlog
/SuperSoup/Server/Debug/Server.exe.embed.manifest
/SuperSoup/Server/Debug/Server.exe.embed.manifest.res
/SuperSoup/Server/Debug/Server.exe.intermediate.manifest
/SuperSoup/Server/Debug/Server.lastbuildstate
/SuperSoup/Server/Debug/Server.log
/SuperSoup/Server/Debug/Server_manifest.rc
/SuperSoup/Server/Debug/cl.command.1.tlog
/SuperSoup/Server/Debug/link-cvtres.read.1.tlog
/SuperSoup/Server/Debug/link-cvtres.write.1.tlog
/SuperSoup/Server/Debug/link.6632-cvtres.read.1.tlog
/SuperSoup/Server/Debug/link.6632-cvtres.write.1.tlog
/SuperSoup/Server/Debug/link.6632.read.1.tlog
/SuperSoup/Server/Debug/link.6632.write.1.tlog
/SuperSoup/Server/Debug/link.command.1.tlog
/SuperSoup/Server/Debug/link.read.1.tlog
/SuperSoup/Server/Debug/link.write.1.tlog
/SuperSoup/Server/Debug/mainServer.obj
/SuperSoup/Server/Debug/mt.command.1.tlog
/SuperSoup/Server/Debug/mt.read.1.tlog
/SuperSoup/Server/Debug/mt.write.1.tlog
/SuperSoup/Server/Debug/rc.command.1.tlog
/SuperSoup/Server/Debug/rc.read.1.tlog
/SuperSoup/Server/Debug/rc.write.1.tlog
/SuperSoup/Server/Debug/vc100.idb
/SuperSoup/Server/Debug/vc100.pdb
/SuperSoup/Server/Release/CL.read.1.tlog
/SuperSoup/Server/Release/CL.write.1.tlog
/SuperSoup/Server/Release/Server.exe.intermediate.manifest
/SuperSoup/Server/Release/Server.lastbuildstate
/SuperSoup/Server/Release/Server.log
/SuperSoup/Server/Release/cl.command.1.tlog
/SuperSoup/Server/Release/link.command.1.tlog
/SuperSoup/Server/Release/link.read.1.tlog
/SuperSoup/Server/Release/link.write.1.tlog
/SuperSoup/Server/Release/mainServer.obj
/SuperSoup/Server/Release/mt.command.1.tlog
/SuperSoup/Server/Release/mt.read.1.tlog
/SuperSoup/Server/Release/mt.write.1.tlog
/SuperSoup/Server/Release/vc100.pdb
/SuperSoup/SuperSoup.opensdf
/SuperSoup/SuperSoup.sdf
/SuperSoup/SuperSoup.suo